# Mailer configuration with Brevo
# Remplacez VOTRE_CLE_API par votre vraie clé API Brevo
MAILER_DSN=brevo://VOTRE_CLE_API@default

# URL du frontend pour le lien de connexion dans l'email
FRONTEND_URL=https://votre-frontend.com/login